:root {
  --primary: oklch(51.1% .262 276.966);
  --accent: oklch(65.6% .241 354.308);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: bolder;
  font-family: Fredoka, sans-serif;
}

input, button {
  font-family: Fredoka, sans-serif;
  font-size: 16px;
}

.container {
  background: #ffffff;
  padding: 12px 24px;
  border-radius: 8px;
  text-align: center;
  width: 280px;
  border: 2px solid var(--accent);
}

#savedSessions{
  border: blue 2px solid;
  border-radius: 8px;
  padding: 12px;
}

#savedSessions h2{
  color: var(--primary);
}

#savedSessions small{
  color : var(--accent)
}

#joinBtn{
  background-color: var(--accent);
}

h2 {
  color: var(--primary);
  margin-bottom: 16px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input:focus {
  border-color: var(--primary);
}

button {
  background: var(--primary);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background: var(--accent);
}

#message {
  margin-top: 12px;
  color: var(--primary);
  font-size: 14px;
}
