body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #f8f5ff;
  font-family: "Fredoka", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-weight: bolder;
  font-family: "Fredoka", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  padding-top: 0px;
}

#playgroundCanvas {
  border: 2px solid blue;
  border-radius: 8px;
  background: white;
  cursor: url('/client/assets/brush.png') 10 40, auto;
}

#roomID {
  color: #f6339a;
}

#floatingBtn {
  position: absolute;
  display: none;
  pointer-events: none;
  background: black;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 6px;
}

#info {
  display: flex;
}

#players {
  margin-right: 20px;
  border: 1px solid blue;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
}

#playerList{
  margin:0px;
  padding:0px;
}

#playerList li{
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 20px;
}

.controls {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.color-palette {
  display: flex;
  gap: 8px;
}

.color-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.color-circle:hover {
  transform: scale(1.1);
}

.eraserBtn,
.clearBtn {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.eraserBtn {
  background: rgb(255, 32, 69);
}

.eraserBtn:hover {
  background: oklch(58% 0.23 354.308);
}

.clearBtn {
  background: #ef4444;
}

.clearBtn:hover {
  background: #dc2626;
}

.slider-container {
  display: flex;
  align-items: center;
}

#strokeSize {
  width: 150px;
  accent-color: var(--primary);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #info{
    flex-direction: column;
  }
  #players{
    margin: 0px;
    margin-bottom: 10px;
    
  }
}
